/*
Name:-- Arjun Chauhan
github:-- https://github.com/RockstArjun
instagram:-- https://instagram.com/python.programe
linkedin:- https://linkedin.com/in/arjun-chauhan-20b9aa217
*/
*{
  margin: 0;
  padding: 0;
  
}